<div class="col-md-6">
  <div class="box brand_box">
    <a href="/brands" class="landing_link">
      BRANDS
    </a>
  </div>
</div>

<div class="col-md-6">
  <div class="box store_box">
    <a href="/stores" class="landing_link">
      STORES
    </a>
  </div>
</div>
